body {
  margin: 0;
  font-family:  'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PADDING FOR FIXED NAVBAR */
.navbar-fixed-padding {
  padding-top:5em !important;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #FEFEFE;
}

h1 {
  color: #051747;
}

p, h2, h3, h4, li, ul {
  color: #081F62;
}
